@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

h1 {
  font-size: 70px;
  font-family: "Poor Story", system-ui;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 2%;
}

h3 {
  font-size: 40px;
  font-family: "Poor Story", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 20px;
  font-family: "Courier New", monospace;
  font-weight: 200;
  line-height: 200%;
}

.Title-container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  text-align: center;
  background-color: #b0907b;
}

.Button-container {
  /* margin-top: 5px;
  margin-left: 5px; */
  bottom: 0;
  left: 0;
  background-color: #b0907b;
  /* width: 20px; /* idk why but setting width to any dimension makes it so that
               only the button and not the entire top bar is clickable */
}

.Tutorial-container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  text-align: center;
}

.section {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.color-dark {
  color: #ffffff; /* text color of dark section */
}

.avatar_canvas {
  /* background-color: pink; */
  width: 25vw;
  height: 25vw;
  /* margin-block: 1.5%; */
  rotate: 90deg;
  /* object-fit: contain; */
  image-rendering: optimizeQuality;
  /* position: absolute; */
  /* filter: blur(0);
  -webkit-filter: blur(0);
  transform: translateZ(0);
  -webkit-transform: translateZ(0); */
}

/* .description{
  margin-top:
} */

.enter-map-button {
  width: 10vw;
  height: 3vw;
  margin-top: -10vw;
}
