@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

h1 {
  font-size: 70px;
  font-family: "Poor Story", system-ui;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 2%;
  margin-left: 20vw;
  margin-right: 20vw;
}

.first-page {
  margin-top: 2%;
}

h3 {
  font-size: 25px;
  font-family: "Courier New", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 20px;
  font-family: "Courier New", monospace;
  font-weight: 200;
  line-height: 200%;
}

.Title-container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  text-align: center;
  background-color: #b0907b;
}

.Button-container {
  /* margin-top: 5px;
  margin-left: 5px; */
  bottom: 0;
  left: 0;
  background-color: #b0907b;
}

.Tutorial-container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  text-align: center;
}

.Tutorial-explanation {
  font-size: 20px;
}

.section {
  height: 100vh;
  /* align-items: center;
  justify-content: center; */
}

.color-dark {
  color: #ffffff; /* text color of dark section */
}

.avatar_canvas {
  width: 25vw;
  height: 25vw;
  /* margin-block: 1.5%; */
  rotate: 90deg;
  /* object-fit: contain; */
  image-rendering: optimizeQuality;
  /* position: absolute; */
  /* filter: blur(0);
  -webkit-filter: blur(0);
  transform: translateZ(0);
  -webkit-transform: translateZ(0); */
}

.description {
  font-weight: 300;
}

.button-logout {
  width: fit-content;
  padding: 2vh 1.5vw; /* Adjust padding as needed */
  font-family: "Courier New", monospace;
  font-size: 15px;
  font-weight: 200;
  background-color: #3b302a; /* Your desired button color */
  color: #ffffff; /* Your desired text color */
  border: none;
  /* Set border-radius for each corner individually */
  /* border-top-right-radius: 5px;
  border-bottom-left-radius: 5px; */
  border-bottom-right-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-logout:hover {
  background-color: #634f48; /* Your desired hover color */
  color: #ffffff; /* Your desired hover text color */
}

.enter-map-button {
  position: relative;
  margin: 0 auto; /* Center the button horizontally */
  width: 200px;
  padding: 15px;
  font-family: "Courier New", monospace;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-color: #3b302a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.enter-map-button:hover {
  color: #b0907b; /* Text color on hover */
  background-color: #fff; /* Background color on hover */
  transform: scale(1.05); /* Slight scale-up on hover */
}

.customization-button {
  background-color: none;
  border: none;
  background-color: #b0907b;
  color: #3b302a;
  font-size: 30px;
  transition: transform 0.2s ease;
}

.customization-button:hover {
  color: #fff;
  transform: scale(1.1); /* Slight scale-up on hover */
}
