canvas {
  background-color: rgb(215, 185, 165);
  width: 100vw;
  height: 100vh;
  object-fit: contain; /* so that resizing window doesn't cause problems */
  position: absolute;
}

.beaver {
  position: relative;
  top: 50;
  left: 50;
}
