.flex-container {
  display: flex;
  font-size: 15px;
  flex-direction: row;
  align-items: center;
  margin-bottom: -2.5%;
}

.Card-container {
  /* flex: 14; */
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs);
  margin-top: var(--m);
  margin-left: 20vw; /* remove if going to use side container */
  margin-right: 20vw;
}

/* .side-container {
  flex: 1;
  margin-top: var(--m);
  margin-left: 20vw;
} */

.Card-container:first-of-type {
  margin-top: var(--l);
}

.Card-story {
  padding: var(--m) var(--l);
}

.Card-storyUser {
  font-size: 20px;
  font-weight: 600;
}

.Card-storyContent {
  flex: 1;
  font-size: 15px;
  margin: var(--s) 0 0;
  line-height: 175%;
}

.Card-storyDate {
  flex: 10;
  color: #8b959e;
  font-weight: 100;
  text-align: right;
}

.Card-storyLikes {
  flex: 5;
  color: #8b959e;
  text-align: left;
}

.heart-button {
  font-size: 20px;
  background: none;
  border: none;
  padding-left: 0;
  padding-right: 1.5%;
  cursor: pointer;
  outline: none;
}

.u-bold {
  font-size: 20px;
}

/* .Card-commentSection {
  background-color: var(--grey);
  border-top: 1px solid var(--darkgrey);
} */

/* .Card-commentBody {
  margin: 0 0 var(--s);
} */
