/* important colors:
map background: #d7b9a5
mit red: #750014
mit gray: #8b959e */

.flex-container {
  display: flex;
  font-size: 15px;
  flex-direction: row;
  align-items: center;
  margin-bottom: -2.5%;
}

.Card-container {
  border: none;
  border-radius: 15px;
  margin: 10px 0;
  margin-left: 20vw;
  margin-right: 20vw;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
}

.Card-container:hover {
  transform: translateY(-2px); /* Lift the card slightly on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* .side-container {
  flex: 1;
  margin-top: var(--m);
  margin-left: 20vw;
} */

.Card-container:first-of-type {
  margin-top: var(--l);
}

.Card-story {
  padding: var(--m) var(--l);
}

.Card-storyUser {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  margin-bottom: 5px;
}

.Card-storyContent {
  font-size: 16px;
  color: #555; /* Medium gray text color */
  margin-bottom: 10px;
  line-height: 175%;
}

.Card-storyDate {
  flex: 10;
  color: #8b959e;
  font-weight: 100;
  text-align: right;
}

.Card-storyLikes {
  flex: 5;
  color: #8b959e;
  text-align: left;
}

.heart-button {
  font-size: 20px;
  background: none;
  border: none;
  padding-left: 0;
  padding-right: 1.5%;
  cursor: pointer;
  outline: none;
}

.heart-button:active {
  animation: pulse 0.4s cubic-bezier(0.4, 0, 0.6, 1);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.u-bold {
  font-size: 20px;
}

/* .Card-commentSection {
  background-color: var(--grey);
  border-top: 1px solid var(--darkgrey);
} */

/* .Card-commentBody {
  margin: 0 0 var(--s);
} */
