.NewPostInput-input,
.NewPostInput-button {
  font-family: "Courier New", monospace;
  font-size: 14px;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.NewPostInput-input {
  height: 5vh;
  flex-grow: 1;
  min-height: 5vh;
  max-height: 50vh;
  resize: vertical;
  border: none;
  border-radius: 5px; /* Match roundedness with the button */
  transition: box-shadow 0.3s, background-color 0.3s;
  padding: var(--s) var(--m);
  margin-left: 20vw;
  background-color: #f9f9f9;
}

.NewPostInput-input:focus-within {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.NewPostInput-button {
  width: 10vw;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #750014;
  transition: background-color 0.3s, color 0.3s;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20vw;
}

.NewPostInput-button:hover {
  background-color: #5a0010;
  color: #fff;
}
